@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#pab_project_body {
  font-family: 'Roboto', sans-serif;
}
* {
  cursor: url("./components/cursors/cursor.svg"), auto;
}
:root {
  --pab_project_primary_color_50: #FCFCFC; 
  --pab_project_primary_color_600: #818181; 
  --pab_project_primary_color_700: #6D6D6D; 
  --pab_project_primary_color_800: #4D4D4D; 
  --pab_project_primary_color_900: #2B2B2B; 
  --pab_project_background: #1E1E1E; 
  --pab_project_black: #000; 
  --pab_project_white: #fff; 
}
#pab_project_body {
  background: var(--pab_project_background);
  color: var(--pab_project_white);
}

#hr {
  background: var(--pab_project_primary_color_700);
}

.button {
  background: var(--pab_project_primary_color_900);
  border: none;
  color: var(--pab_project_white);
}

.button:hover,
.button:hover *{
  cursor: url("./components/cursors/pointer.svg"), auto;
}
[selected="true"] {
  background: var(--pab_project_primary_color_800);
}
#project_draw_rect[selected="move"],
#project_draw_rect[selected="move"] *{
  cursor: url("./components/cursors/move.svg"), auto;
}
#pab_project_body[selected="move-h"],
#pab_project_body[selected="move-h"] *{
  cursor: url("./components/cursors/move-horizontal.svg"), auto;
}
#project_draw_rect[selected="zoom"],
#project_draw_rect[selected="zoom"] *{
  cursor: url("./components/cursors/zoom.svg"), auto;
}
.button:hover {
  background: var(--pab_project_primary_color_800);
}

.button:active {
  background: var(--pab_project_primary_color_700);
}

.multiselection {
  background: var(--pab_project_primary_color_900);
}

.menu_bar {
  background: var(--pab_project_primary_color_900);
}

.item_multiselection {
}

.side_bar {
  background: var(--pab_project_primary_color_900);
}

.side_bar_border {
  background: var(--pab_project_primary_color_700);
  color: var(--pab_project_black)
}

.prop_input input{
  border-radius: var(--4dp);
  border: none;
  background: var(--pab_project_background);
}
.prop_input input[disbled]{
  background: var(--pab_project_primary_color_900);
}

.prop_list {
  gap: var(--8dp);
}
[BAB_project__selected="false"]{
  z-index: 2;
}
[BAB_project__selected="true"]{
    outline: 4px solid #0cf;
    z-index: 1;
    box-sizing: border-box;
}
[focus="true"]::after,
[focus="true"]::before {
  content: "Focus";
  position: absolute;
  z-index: 11;
  width: auto;
  height: auto;
  clip-path: polygon(0 0, 75% 0, 100% 35%, 100% 100%,  0 100%);
}
[focus="true"]::after {
  bottom: var(--4dp);
  left: var(--4dp);
  padding: var(--4dp);
  background: var(--pab_project_primary_color_800);
}
[focus="true"]::before {
  bottom: 0;
  left: 0;
  padding: var(--8dp);
  background: var(--pab_project_primary_color_700);
}
[focus="true"],
[tip] {
    position: relative;
}
[tip]{
  overflow: visible;
}

[tip]::before {
    content: attr(tip);
    position: absolute;
    top: 100%; 
    left: 0;
    transform: translateY(var(--4dp));
    z-index: 9999;
    width: auto; 
    height: auto;
    padding: var(--4dp);
    background: var(--pab_project_primary_color_800);
    border-radius: var(--4dp);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    color: var(--pab_project_white);
}

[tip]:hover::before {
    opacity: 1;
    visibility: visible;
}
