@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#data-pab-project-body {
  font-family: 'Roboto', sans-serif;
}
* {
  cursor: url("./components/cursors/cursor.svg"), auto;
}
:root {
  --data-pab-project-primary_color_50: #FCFCFC; 
  --data-pab-project-primary_color_600: #818181; 
  --data-pab-project-primary_color_700: #6D6D6D; 
  --data-pab-project-primary_color_800: #4D4D4D; 
  --data-pab-project-primary_color_900: #2B2B2B; 
  --data-pab-project-background: #1E1E1E; 
  --data-pab-project-black: #000; 
  --data-pab-project-white: #fff; 
}
#data-pab-project-body {
  background: var(--data-pab-project-background);
  color: var(--data-pab-project-white);
}

#data-pab-project-hr {
  background: var(--data-pab-project-primary_color_700);
}

.data-pab-project-button {
  background: var(--data-pab-project-primary_color_900);
  border: none;
  color: var(--data-pab-project-white);
}

.data-pab-project-button:hover,
.data-pab-project-button:hover *{
  cursor: url("./components/cursors/pointer.svg"), auto;
}
[data-pab-project-selected="true"] {
  background: var(--data-pab-project-primary_color_800);
}
#project_draw_rect[data-pab-project-selected="move"],
#project_draw_rect[data-pab-project-selected="move"] *{
  cursor: url("./components/cursors/move.svg"), auto;
}
#data-pab-project-body[data-pab-project-selected="move-h"],
#data-pab-project-body[data-pab-project-selected="move-h"] *{
  cursor: url("./components/cursors/move-horizontal.svg"), auto;
}
#project_draw_rect[data-pab-project-selected="zoom"],
#project_draw_rect[data-pab-project-selected="zoom"] *{
  cursor: url("./components/cursors/zoom.svg"), auto;
}
.data-pab-project-button:hover {
  background: var(--data-pab-project-primary_color_800);
}

.data-pab-project-button:active {
  background: var(--data-pab-project-primary_color_700);
}

.data-pab-project-multiselection {
  background: var(--data-pab-project-primary_color_900);
}

.data-pab-project-menu_bar {
  background: var(--data-pab-project-primary_color_900);
}

.data-pab-project-item_multiselection {
}

.data-pab-project-side_bar {
  background: var(--data-pab-project-primary_color_900);
}

.data-pab-project-side_bar_border {
  background: var(--data-pab-project-primary_color_700);
  color: var(--data-pab-project-black)
}

.data-pab-project-prop_input input{
  border-radius: var(--data-pab-project-4dp);
  border: none;
  background: var(--data-pab-project-background);
}
.data-pab-project-prop_input input[disbled]{
  background: var(--data-pab-project-primary_color_900);
}

.data-pab-project-prop_list {
  gap: var(--data-pab-project-8dp);
}
[bab_project__selected="false"]{
  z-index: 2;
}
[bab_project__selected="true"]{
    outline: 4px solid #0cf;
    z-index: 1;
    box-sizing: border-box;
}
[data-pab-project-focus="true"]::after,
[data-pab-project-focus="true"]::before {
  content: "Focus";
  position: absolute;
  z-index: 11;
  width: auto;
  height: auto;
  clip-path: polygon(0 0, 75% 0, 100% 35%, 100% 100%,  0 100%);
}
[data-pab-project-focus="true"]::after {
  bottom: var(--data-pab-project-4dp);
  left: var(--data-pab-project-4dp);
  padding: var(--data-pab-project-4dp);
  background: var(--data-pab-project-primary_color_800);
}
[data-pab-project-focus="true"]::before {
  bottom: 0;
  left: 0;
  padding: var(--data-pab-project-8dp);
  background: var(--data-pab-project-primary_color_700);
}
[data-pab-project-focus="true"],
[data-pab-project-tip] {
    position: relative;
}
[data-pab-project-tip]{
  overflow: visible;
}

[data-pab-project-tip]::before {
    content: attr(data-pab-project-tip);
    position: absolute;
    top: 100%; 
    left: 0;
    transform: translateY(var(--data-pab-project-4dp));
    z-index: 9999;
    width: auto; 
    height: auto;
    padding: var(--data-pab-project-4dp);
    background: var(--data-pab-project-primary_color_800);
    border-radius: var(--data-pab-project-4dp);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    color: var(--data-pab-project-white);
}

[data-pab-project-tip]:hover::before {
    opacity: 1;
    visibility: visible;
}
