<div>
    <comp src="./ui/components/button.html" expanded is_open="false" onclick="toggleIsOpen(this)">
        <comp src="./ui/components/icons/frame.html"></comp>
        <comp src="./ui/components/icons/arrow_down_16.html" arrow_down_16></comp>
    </comp>
    <div style="position: fixed;" class="content">
        <comp src="./ui/components/drop_down_item.html" title="Teste" keybind="F">
            <comp src="./ui/components/icons/frame.html"></comp>
        </comp> 
        <comp src="./ui/components/drop_down_item.html" title="Rectangle" keybind="R">
            <comp src="./ui/components/icons/rect.html"></comp>
        </comp> 
        <comp src="./ui/components/drop_down_item.html" title="Oval" keybind="O">
            <comp src="./ui/components/icons/oval.html"></comp>
        </comp> 
        <comp src="./ui/components/drop_down_item.html" title="Image" keybind="I">
            <comp src="./ui/components/icons/image.html"></comp>
        </comp> 
    </div>
</div>
