<div class="button">
    <comp 
        src="./ui/components/button.html" 
        expanded 
        is_open="false" 
        id="menu_new_element"
        class="popover button"
        onclick="actions.openMenuNewElement();"
    >
        <comp src="./ui/components/icons/frame.svg"></comp>
        <comp 
            src="./ui/components/icons/arrow_down_16.svg" 
            arrow_down_16
        ></comp>
    </comp>
    <div style="position: fixed; z-index: 1;" class="content multiselection">
        <comp 
            src="./ui/components/drop_down_item.html" 
            title="Frame" 
            keybind="F" 
            class="item_multiselection button"
            onclick="actions.addNewElement('FRAME')"
        >
            <comp src="./ui/components/icons/frame.svg"></comp>
        </comp> 
        <comp 
            src="./ui/components/drop_down_item.html" 
            title="Rectangle" 
            keybind="R" 
            class="item_multiselection button"
            onclick="actions.addNewElement('RECT')"
        >
            <comp src="./ui/components/icons/rect.svg"></comp>
        </comp> 
        <comp 
            src="./ui/components/drop_down_item.html" 
            title="Oval" 
            keybind="O" 
            class="item_multiselection button"
            onclick="actions.addNewElement('OVAL')"
        >
            <comp src="./ui/components/icons/oval.svg"></comp>
        </comp> 
        <comp 
            src="./ui/components/drop_down_item.html" 
            title="Image" 
            keybind="I"
            class="item_multiselection button"
            onclick="actions.addNewElement('IMAGE')"
        >
            <comp src="./ui/components/icons/image.svg"></comp>
        </comp> 
    </div>
</div>
