<div 
  style="padding: var(--8dp) var(--12dp); width: 100%;"
>
  <div 
    style="display: flex; align-items:center;"
    expanded 
    is_open="false"
    path="./"
    onclick="toggleIsOpen(this);openFolder(this.getAttribute('path'))"
    
  >
    <comp src="./ui/components/icons/arrow_down_16.svg" arrow_down_folder></comp>
    <comp src="./ui/components/icons/folder.svg" style="margin-right: var(--8dp);"></comp>
    <text></text>
  </div>
  <div class="content">
    <content></content>
  </div>
</div>
