<div 
  class="item" 
  style="display: flex; justify-content: space-between; padding: var(--8dp) var(--8dp) var(--8dp) var(--12dp); gap: var(--8dp); align-items: end;"
>
  <comp src="./ui/components/prop_input.html" title="Name" class="prop_input_name prop_input"></comp>
  <comp src="./ui/components/prop_input.html" title="Value" class="prop_input_value prop_input"></comp>
  <comp
    src="./ui/components/button.html" 
    style="width: var(--32dp); height: var(--32dp); display: flex; align-items: center; justify-content: center;"
    onclick="main.actions.removePropretie(this.parentNode.getAttribute('id'))"
    >
    <comp src="./ui/components/icons/minus.svg"></comp>
  </comp>
</div>
