<div>
  <div style="display: flex;">
    <h5 style="flex-grow: 1; margin: var(--pab_project__12dp);">
      Css
    </h5>
    <comp 
      src="./ui/components/button.html" 
      style="width: var(--pab_project__40dp); height: var(--pab_project__40dp); display: flex; align-items: center; justify-content: center;"
      onclick="main.actions.addNewProp('CSS');"
      >
      <comp src="./ui/components/icons/plus.svg"></comp>
    </comp>
  </div>
  <div id="list_props_css" style="display: flex; flex-direction: column;" class="prop_list">
    <content></content>
  </div>
</div>
