<div 
  class="item" 
  style="display: flex; justify-content: space-between; padding: var(--pab_project__8dp) var(--pab_project__8dp) var(--pab_project__8dp) var(--pab_project__12dp); gap: var(--pab_project__8dp); align-items: end;"
>
  <comp src="./ui/components/prop_input.html" title="Name" class="pab_project__prop_input_name pab_project__prop_input"></comp>
  <comp src="./ui/components/prop_input.html" title="Value" class="pab_project__prop_input_value pab_project__prop_input"></comp>
  <comp
    src="./ui/components/button.html" 
    style="width: var(--pab_project__32dp); height: var(--pab_project__32dp); display: flex; align-items: center; justify-content: center;"
    onclick="main.actions.removePropretie(this.parentNode.getAttribute('id'))"
    >
    <comp src="./ui/components/icons/minus.svg"></comp>
  </comp>
</div>
