<div 
  class="item" 
  style="display: flex; justify-content: space-between; padding: var(--data-pab-project-8dp) var(--data-pab-project-8dp) var(--data-pab-project-8dp) var(--data-pab-project-12dp); gap: var(--data-pab-project-8dp); align-items: end;"
>
  <comp src="./ui/components/prop_input.html" title="Name" class="data-pab-project-prop_input_name data-pab-project-prop_input"></comp>
  <comp src="./ui/components/prop_input.html" title="Value" class="data-pab-project-prop_input_value data-pab-project-prop_input"></comp>
  <comp
    src="./ui/components/button.html" 
    style="width: var(--data-pab-project-32dp); height: var(--data-pab-project-32dp); display: flex; align-items: center; justify-content: center;"
    onclick="main.actions.removePropretie(this.parentNode.getAttribute('id'))"
    >
    <comp src="./ui/components/icons/minus.svg"></comp>
  </comp>
</div>
