<div 
    style="display: flex; flex-direction: row-reverse;"
    class="side_bar">
    <div 
        style="width: var(--16dp); flex-grow:1; background: gray; display: flex; align-items: center;" 
        expanded 
        is_open="true" 
        onclick="toggleIsOpen(this)"
        class="side_bar_border">
        <comp src="./ui/components/icons/chevrons_left.svg" chevrons_left></comp>
    </div>
    <div class="content">
        <comp src="./ui/components/side_bar.html">
            <div style="display: flex;" class="menu_bar">
                <comp src="./ui/components/button.html" data-translate="html">Html</comp>
                <comp src="./ui/components/button.html" data-translate="css">Css</comp>
                <comp src="./ui/components/button.html" data-translate="javascript">Js</comp>
                <comp src="./ui/components/button.html" data-translate="assets">Assets</comp>
            </div>
            <hr style="margin: 0; padding: 0;">
            <comp src="./ui/components/item_folder.html" text="teste">
                <comp src="./ui/components/item_folder.html" text="teste">
                </comp>
            </comp>
        </comp>
    </div>
</div>
