<div 
    style="display: flex; flex-direction: row;"
    class="side_bar"
>
    <div 
        style="width: var(--16dp); flex-grow:1; background: gray; display: flex; align-items: center;" 
        expanded 
        is_open="true" 
        onclick="main.bihavior.toggleIsOpen(this)"
        class="side_bar_border">
        <div tip="Ctrl · \ ⇌ Alt · 1" style="width: var(--16dp); display: flex;">
            <comp src="./ui/components/icons/chevrons_right.svg" chevrons_right></comp>
        </div>
    </div>
    <div class="content" id="side_bar_right">
        <comp src="./ui/components/side_bar.html">
            <div style="display: flex;margin-top: var(--48dp);" class="menu_bar">
                <comp 
                    src="./ui/components/button.html"
                    data-translate="design"
                    onclick="actions.setEditMode('DESIGN')"
                >Design</comp>
                <comp 
                    src="./ui/components/button.html" 
                    data-translate="prototype"
                    onclick="actions.setEditMode('PROTOTYPE')"
                >Prototype</comp>
            </div>
            <hr style="margin: 0; padding: 0;" id="hr">
            <comp src="./ui/components/prop_item_name_fixed.html" name="name" id="comp_name"></comp>
            <comp src="./ui/components/prop_item_name_fixed.html" name="tag" id="comp_tag"></comp>
            <comp src="./ui/components/prop_item_name_fixed.html" name="text" id="comp_text" visible="false"></comp>
            <hr style="margin: 0; padding: 0;" id="hr">
            <comp src="./ui/components/prop_list_html.html"></comp>
            <hr style="margin: 0; padding: 0;" id="hr">
            <comp src="./ui/components/prop_list_css.html"></comp>
        </comp>
    </div>
</div>
