<div 
    style="display: flex; flex-direction: row;"
    class="side_bar">
    <div 
        style="width: var(--16dp); flex-grow:1; background: gray; display: flex; align-items: center;" 
        expanded 
        is_open="true" 
        onclick="toggleIsOpen(this)"
        class="side_bar_border">
        <comp src="./ui/components/icons/chevrons_right.svg" chevrons_right></comp>
    </div>
    <div class="content">
        <comp src="./ui/components/side_bar.html">
            <div style="display: flex;" class="menu_bar">
                <comp 
                    src="./ui/components/button.html"
                    data-translate="design"
                    onclick="actions.setEditMode('DESIGN')"
                >Design</comp>
                <comp 
                    src="./ui/components/button.html" 
                    data-translate="prototype"
                    onclick="actions.setEditMode('PROTOTYPE')"
                >Prototype</comp>
            </div>
            <hr style="margin: 0; padding: 0;">
        </comp>
        <comp src="./ui/components/prop_list_html.html"></comp>
        <hr style="margin: 0; padding: 0;">
        <comp src="./ui/components/prop_list_css.html"></comp>
    </div>
</div>
