<div style="width: 100vw; height: var(--48dp); display: flex;">
    <div style="width: var(--240dp); height: 100%; display: flex; align-items: center;">
        <comp src="./ui/components/button.html">
            <comp src="./ui/components/icons/menu.html"></comp>
        </comp>
        <comp src="./ui/components/button.html" style="width: 100%; display: flex; height: 100%; align-items: center; padding: var(--12dp);">
            <h3 style="flex-grow: 1; text-align: start;">Projet Name</h3>
            <comp src="./ui/components/icons/arrow_down.html"></comp>
        </comp>
    </div>
    <div style="height: 100%; display: flex; flex-grow: 1;">
        <comp src="./ui/components/button_with_dropdown.html"></comp>
        <comp src="./ui/components/button.html">
            <comp src="./ui/components/icons/move.html"></comp>
        </comp>
        <comp src="./ui/components/button.html">
            <comp src="./ui/components/icons/zoom_in.html"></comp>
        </comp>
        <comp src="./ui/components/button.html">
            <comp src="./ui/components/icons/plugins.html"></comp>
        </comp>
    </div>
    <div style="width: var(--240dp); height: 100%; display: flex; align-items: center;">
        <h3 style="margin: 0; padding: 0 var(--12dp);">Username</h3>
    </div>
</div>
<hr style="width: 100%; margin: 0;">
