<div>
  <comp src="./ui/components/prop_item.html" visible="false" id="item_prop_template"></comp>
  <comp src="./ui/components/item_folder.html" visible="false" id="item_prop_template"></comp>
  <script>
    const base_json_template = {
      "name": "",
      "is_view": false,
      "tag": "html",
      "template": "",
      "position": {"x": 0, "y": 0},
      "size": {"width": 500, "height": 500},
      "props": [
        {"name": "lang", "value": "pt-BR"}
      ],
      "content": [
        {
          "name": "",
          "is_view": false,
          "tag": "head",
          "template": "",
          "props": [],
          "content": [
            {
              "name": "",
              "is_view": false,
              "tag": "meta",
              "template": "",
              "props": [
                {"name": "charset", "value": "UTF-8"}
              ],
              "content": []
            },
            {
              "name": "",
              "is_view": false,
              "tag": "meta",
              "template": "",
              "props": [
                {"name": "name", "value": "viewport"},
                {"name": "content", "value": "width=device-width, initial-scale=1.0"}
              ],
              "content": []
            },
            {
              "name": "",
              "is_view": false,
              "tag": "title",
              "template": "",
              "props": [],
              "content": ["My Site"]
            }
          ] 
        },
        {
          "name": "",
          "is_view": true,
          "tag": "body",
          "template": "",
          "props": [],
          "content": [
            {
              "name": "",
              "is_view": true,
              "tag": "h1",
              "template": "",
              "props": [{
                "name": "style", 
                "value": "color: red;"}],
              "content": [
                "Teste"
              ]
            }
          ]
        }
      ]
    }
    const base_view_body = {
        "name": "body",
        "is_view": true,
        "tag": "div",
        "template": "",
        "props": [
          {
            "name": "style", 
            "value": "width: 500px; height: 500px; background: #fff; position: absolute; left: 0; top: 0; scale: 1;"
          }
        ],
        "content": []
    }
  </script>
</div>
