<div style="display: flex; flex-direction: row;">
    <div style="width: 16px; flex-grow:1; background: gray; display: flex; align-items: center;" expanded is_open="true" onclick="toggleFlagIsOpen(this)">
        <comp src="./components/icons/chevrons_right.html" chevrons_right></comp>
    </div>
    <div class="content">
        <comp src="./components/side_bar.html">
            <div style="display: flex;">
                <comp src="./components/button.html">Design</comp>
                <comp src="./components/button.html">Prototype</comp>
            </div>
            <hr style="width: 100%; margin: 0;">
        </comp>
    </div>
</div>
