[expanded][is_open="false"] + .content {
    display: none;
}
[expanded][is_open="true"] + .content {
    display: block;
}
[expanded][is_open="false"] > [arrow_down_16] {
    transform: rotate(-90deg);
}
[expanded][is_open="true"] > [arrow_down_16] {
    transform: rotate(0deg);
}
[expanded][is_open="false"] > [chevrons_left],
[expanded][is_open="false"] > [chevrons_right] {
    transform: rotate(-180deg);
}
[expanded][is_open="true"] > [chevrons_left],
[expanded][is_open="true"] > [chevrons_right] {
    transform: rotate(0deg);
}

